.login-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: var(--light-white-color);

}

.login-section {
    padding: 25px;
    background-color: var(--white-color);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width: 30%;
    max-width: 500px;
   
}

.login-heading h5 {
    text-align: center;
    font-weight: 600;
    font-family: var(--info-font);
    padding-bottom: 6px;
    color: #191c1f;
}

.login-input {
    margin: 15px 0;
    min-width: 170px;
}

.login-input input {
    width: 100%;
    padding: 11px;
    outline: none;
    font-family: var(--info-font);
    border: 1px solid var(--primary-border-color);
    border-radius: 8px;
    color: var(--light-black-color);
    background-color: var(--dashboard-tr-hover-color);
    font-size: 14px;
}

.login-button {
    margin-top: 25px;

}

.login-button button {
    width: 100%;

}

@media screen and (max-width: 770px) {
  .login-section {
    width: 50%;
}
}
@media screen and (max-width: 430px) {
  .login-section {
    width: 70%;
}
}